@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  background-color: $color-background-dark;
  /*background: linear-gradient(
    to bottom,
    $color-background-dark 90%,
    $color-semi-dark 100%
  );*/

  color: $color-text-light;
  padding: $base-size * 4;
  font-family: $font-text;
  font-size: 16px;
  font-weight: 600;
  h2 {
    color: $color-main;
    text-align: center;
    padding: $base-size * 2;
  }
  span {
    color: $color-main-darker;
  }

  .intro {
    p {
      text-align: justify;
    }
    .buttonWrapper {
      display: flex;
      padding: $base-size * 2;
      .button {
        border: solid $color-main 3px;
        width: fit-content;
        margin: 0 auto;

        .link {
          @include link;
          padding: $base-size;
          color: $color-text-light;
        }
        &:hover {
          transform: scale(1.2);
          transition: $transition;
        }
      }
    }
  }
  .socialmedia {
    @include wrapper;
    justify-content: flex-start;
    &__item {
      @include wrapper;
      justify-content: flex-start;
      .iconWrapper {
        padding: 0 $base-size;
        .icon {
          font-size: large;
          color: $color-main;
          &:hover {
            transform: scale(1.5);
            transition: $transition;
            color: $color-text-light;
          }
        }
      }
    }
  }
  .languages {
    .list {
      @include wrapper;
      justify-content: space-around;
    }
  }
  .passions {
    p {
      text-align: center;
    }
    .icon {
      color: $color-main-darker;
    }
  }
}
