@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

$base-size: 12px;

/* Colors */
$color-black: #010202;
$color-white: #fff;
$color-success: #009432;
$color-error: #ff0000;
$color-main: #ffc13b;
$color-orange: #ff6e40;
$color-grey: #817e7e;

$color-text-dark: #303841;
$color-text-light: #eeeeee;

$color-background-light: #eeeeee;
$color-background-dark: #303841;
$color-background-color: #ff6e40;
/* Fonts */
$font-header: "Quicksand", sans-serif;
$font-text: monospace;

/* Transition */
$transition: all 0.5s;
