@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  background-color: $color-background-dark;
  color: $color-text-light;
  .container {
    @include wrapper;
    position: relative;
    @include container;
    .logo {
      padding: $base-size $base-size * 2;
      position: relative;
      .link {
        @include link;
        color: $color-text-light;
        font-size: large;
        font-weight: 600;
        border: solid $color-main 5px;
        padding: $base-size;
        &:hover {
          top: -10%;
          left: 50%;
          transform: rotate(360deg);
          position: absolute;
          transition: all 0.9s ease-in-out 0s;
        }
      }
    }
    .navigation {
      &_list {
        list-style-type: none;
        padding: $base-size;
        @include wrapper;
        li {
          padding: $base-size;
          .link {
            @include link;
            color: $color-text-light;
            font-size: large;
            font-weight: 600;
            &:hover {
              border-bottom: solid $color-main 3px;
            }
          }
          .icon {
            @extend .link;
            color: $color-main;
            &:hover {
              border-bottom: none;
              transform: scale(1.5);
              transition: $transition;
              color: $color-text-light;
            }
          }
        }
      }
    }

    .hamburger {
      display: none;
    }
  }
}
.menuSmall {
  display: none;
  @extend .navigation_list;
}
@media (max-width: 912px) {
  .menuBig {
    display: none;
  }
  .hamburger {
    display: block !important;
  }
  .menuSmall {
    display: block !important;
  }
}
