@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  background-color: $color-background-dark;
  color: $color-text-light;
  .container {
    @include wrapper;
    position: relative;
    @include container;
    .logo {
      padding: $base-size $base-size * 2;
      position: relative;
      font-weight: 600;

      .link {
        @include link;
        color: $color-text-light;
        font-size: large;
        font-weight: 600;
        border: solid $color-main 5px;
        padding: $base-size;
        &:hover {
          top: -10%;
          left: 50%;
          transform: rotate(360deg);
          position: absolute;
          transition: all 0.9s ease-in-out 0s;
        }
      }
    }

    .hamburger {
      display: none;
    }
  }
}
.menuSmall {
  display: none;
  flex-direction: column !important;
  margin-bottom: 0;
}
@media (max-width: 585px) {
  .menuBig {
    display: none;
  }
  .hamburger {
    display: block !important;
    padding: $base-size;
    .icon {
      font-size: $base-size * 2;
    }
  }
  .menuSmall {
    display: block !important;
  }
}
