@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  margin: $base-size * 2;
  background-color: $color-background-dark;
  font-size: 14px;
  font-family: $font-text;
  padding: $base-size;
  .project {
    padding: $base-size;
    background-color: $color-background-dark;
    color: $color-text-light;
    &__imageWrapper {
      padding: $base-size;
      @include wrapper;
      justify-content: center;
      .image {
        @include image;
        height: 70%;
        border-radius: 10%;
        padding: $base-size;
      }
      .buttons {
        @include wrapper;
        text-align: center;
        .button {
          height: 35px;
          min-width: 100px;
          margin: $base-size;
          font-weight: 400;
          background-color: $color-main-darker;
          &:hover {
            transform: scale(1.1);
            transition: $transition;
            background-color: $color-main;
          }
          .iconWrapper {
            @include wrapper;
            text-decoration: none;
            font-weight: 600;
            color: $color-background-light;
            .icon {
              font-size: $base-size * 2;
              margin-left: 5px;
            }
          }
        }
      }
    }
    &__description {
      flex-direction: column;
      padding: $base-size;
      text-align: justify;
      h2 {
        color: $color-main;
      }
      h3 {
        color: $color-main-darker;
      }
    }
  }
}
@media (max-width: 768px) {
}
