@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  .tech {
    @include wrapper;
    padding: $base-size * 2;
    align-items: flex-start;
    &_item {
      p {
        font-weight: 700;
      }
      .icon {
        max-width: 50px;
        max-height: 50px;
        filter: saturate(30%);
        &:hover {
          filter: saturate(100%);
          transform: scale(1.5);
          transition: $transition;
        }
      }
    }
  }
}
