@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  .title {
    text-align: center;
    padding-top: $base-size * 2;
    color: $color-main;
  }
  .tech {
    @include wrapper;
    align-items: flex-start;
    justify-content: center;
    &_item {
      padding: $base-size * 1.5;
      @include wrapper;
      flex-direction: column;
      p {
        font-weight: 700;
      }
      .icon {
        width: 40px;
        height: 40px;

        &:hover {
          filter: drop-shadow(4px 4px 4px $color-main);
          transform: scale(1.5);
          transition: $transition;
        }
      }
    }
  }
}
@media (max-width: 585px) {
  .tech {
    justify-content: space-around !important;
  }
}
