@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  background-color: $color-background-light;
  font-family: $font-text;
  .footer {
    @include container;
  }
  .copyright {
    text-align: center;
  }
}
